.inner-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 0.015rem;
}

label {
  font-size: 0.9rem;
  margin-top: 1rem;
}

input {
  color: var(--second);
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: inherit;
  border: none;
  box-shadow: 0px 4px 0px 0px var(--second);
}

input:hover {
  filter: brightness(0.88);
}

input:focus {
  filter: brightness(1.3);
}
